/**
 * @provides phabricator-jump-nav
 */

.phabricator-jump-nav-form {
  text-align: center;
  padding: 0px;
  margin: 0;
}

.phabricator-jump-nav {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.phabricator-jump-nav-caption {
  color: #999;
  text-align: left;
  margin: 5px 0 0 8px;
}
