/**
 * @provides phabricator-app-buttons-css
 */

.phabricator-app-buttons {
  padding: 2em 2.5em 1.8em;
}

.phabricator-app-button {
  display: block;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.phabricator-app-button .app-button {
  display: block;
  margin: 0px 10px 8px;
  border-bottom-color: #1A356E;
  cursor: pointer;
  border: 1px solid #CCC;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, .05);
  border-radius: 1px;
  background: white;
}

.phabricator-app-button .app-button:active {
  background: #eee;
  border: 1px solid #bbb;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, .2);
}

a.phabricator-button-caption,
a.phabricator-button-caption:link,
a.phabricator-button-caption:active,
a.phabricator-button-caption:hover,
a.phabricator-button-caption:visited {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  padding: 3px 0;
  font-weight: bold;
}

.phabricator-app-subtitle {
  color: #888888;
  font-weight: normal;
}


.app-icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 8px;
  background: url('/rsrc/image/apps.png') 0 0 no-repeat;
}

.icon-differential {
  background: url(/res/f7cb4abe/rsrc/image/panel/review.png) 6px 6px no-repeat;
}

.icon-maniphest {
  background: url(/res/f7cb4abe/rsrc/image/panel/anchor.png) 5px 5px no-repeat;
}

.icon-create-task {
  background: url(/res/f7cb4abe/rsrc/image/panel/create.png) 7px 7px no-repeat;
}

.icon-upload-file {
  background: url(/res/f7cb4abe/rsrc/image/panel/upload.png) 3px 8px no-repeat;
}

.icon-create-paste {
  background: url(/res/f7cb4abe/rsrc/image/panel/paste.png) 7px 5px no-repeat;
}

.icon-phriction {
  background: url(/res/f7cb4abe/rsrc/image/panel/wiki.png) 1px 9px no-repeat;
}

.icon-diffusion {
  background: url(/res/f7cb4abe/rsrc/image/panel/browse.png) 5px 9px no-repeat;
}

.icon-audit {
  background: url(/res/f7cb4abe/rsrc/image/panel/shades.png) 0px 17px no-repeat;
}
