/**
 * @provides aphront-contextbar-view-css
 */

.aphront-contextbar-view {
  background: #E4EDF7;
  padding: 10px 2em;
  border-bottom: 1px solid #CBD9E6;
}

.aphront-contextbar-core {
}

.aphront-contextbar-content {
  padding-top: 5px;
  color: #222;
}

.aphront-contextbar-buttons {
  float: right;
}

.aphront-contextbar-buttons label {
  font-weight: bold;
  color: #666666;
}

.aphront-contextbar-buttons a {
  margin: 0 0 0 1em;
}
