/**
 * @provides aphront-headsup-view-css
 */

.aphront-headsup-core {
  margin-right: 332px;
  overflow: hidden;
}

.aphront-headsup-panel {
  background: #F6F6F6;
  padding: 2em 8em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.aphront-headsup-panel h1 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}

.aphront-headsup-property-table {
  width: auto;
  margin-top: 10px;
  white-space: nowrap;
}

.aphront-headsup-property-table th {
  width: 100px;
  text-align: right;
  padding: 5px 8px;
  color: #333;
  white-space: nowrap;
}

.aphront-headsup-property-table td {
  padding: 5px 8px;
}

.aphront-headsup-details {
  clear: both;
  margin-top: 1.5em;
  border-radius: 2px;
}

.aphront-headsup-object-name {
  margin-right: 0.25em;
}

.aphront-headsup-keyboard-shortcuts {
  float: right;
  margin-right: 20px;
}
