/**
 * @provides aphront-multi-column-fixed-height-css
 */

.device-desktop .aphront-multi-column-view {
  min-height: initial!important;
}

.device-desktop .phui-object-item-list-view {
  height: calc(100vh - 190px);
  overflow-y: auto;
}

.device-desktop .project-panel-empty .phui-object-item-list-view {
  margin-bottom: 0;
  box-sizing: border-box;
}

.device-desktop .phui-object-item.drag-dragging {
  position: absolute;
  width: 300px;
  box-sizing: border-box;
  pointer-events: none;
}
