/**
 * @provides aphront-panel-view-css
 */


.aphront-panel-view {
  border-top: 1px solid #EEE;
  padding: 2em 4em;
}

/*fall back for homepage*/
.aphront-side-nav-content .aphront-panel-view {
  padding: 1.2em 2em;
}

.device-phone .aphront-panel-view {
  margin: 20px 10px 40px 10px;
}

.aphront-unpadded-panel-view {
  padding: 0;
}

.aphront-panel-view.aphront-panel-plain {
  padding: 0;
  border: none;
  background: transparent;
}


.aphront-panel-view h1 {
  font-size:        14px;
  font-weight:      bold;
}
.aphront-panel-accent.aphront-panel-view h1 {
  margin: 15px 0;
}

.aphront-panel-plain h1 {
  padding: 0 0 4px 0;
}

.aphront-panel-view-caption {
  font-size: 11px;
  color: #666666;
  margin-top: -0.1em;
  margin-bottom: 0.75em;
}

.aphront-panel-view-buttons {
  float: right;
}

.aphront-panel-view p.aphront-panel-instructions {
  margin: .5em 2em .75em;
  font-size: 13px;
}

.device-desktop .aphront-panel-width-form {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.device-desktop .aphront-panel-width-wide {
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.aphront-panel-accent {
  padding: 0 4em;
}

.aphront-panel-accent .aphront-form-view {
  background: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.device-phone .aphront-panel-preview {
  display: none;
}

.aphront-panel-preview-wide {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.aphront-panel-preview-loading-text {
  color: #666666;
}

.aphront-panel-flush {
  margin: 0;
}

.aphront-panel-view-drag-and-drop {
  background: #99ff99;
  border-color: #669966;
}

.aphront-panel-view-drag-and-drop .aphront-form-view {
  background: #ccffcc;
  border-color: #669966;
}

.aphront-mini-panel-view {
  padding: 1.2em 2em;
  border-top: 1px solid #EEE;
  display: none;
}

.aphront-mini-panel-view p {
  font-size: 12px;
  color: #666666;
}

