/**
 * @provides phabricator-transaction-view-css
 */

.phabricator-transaction-view {
  background: 0px 2px no-repeat;
  margin: 1em 0;
  min-height: 50px;
  padding: 2px 0px;
}

.phabricator-transaction-detail {
  border-color: #DDD;
  border-width: 1px 10px;
  border-style: solid;
  margin-left: 62px;
  border-radius: 2px;
}

.phabricator-transaction-header {
  background: #F6F6F6;
  padding: 12px 15px;
}

.phabricator-transaction-header a {
  font-weight: bold;
}

.phabricator-transaction-info {
  color:       #999;
  float:       right;
  font-size:   11px;
}

.phabricator-transaction-content {
  padding: 12px 15px;
  overflow: auto;
}
