/**
 * @provides phabricator-main-menu-view
 */


/* - Main Menu -----------------------------------------------------------------

  Main menu at the top of every page that has chrome. It reacts to resolution
  changes in order to behave reasonably on tablets and phones.

*/

.phabricator-main-menu {
/*  background: #2d3236;
  background-image: url(/rsrc/image/main_texture.png);
  position: relative;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  height: 44px;*/

  background-image: url(http://static.zhihu.com/static/img/sticky_header/header-bg.png);
  position: relative;
  height: 48px;
  z-index: 6;
}

.phabricator-main-menu a:hover {
  text-decoration: none;
  opacity: .8;
}

.device-desktop .phabricator-main-menu {
  text-align: right;
  width: 100%;
}

/* - Main Menu Group -----------------------------------------------------------

  Container representing a single item on the main menu. For desktops these lay
  out horizontally; on phones they switch to vertical.

*/

.phabricator-main-menu-group {
  height: 44px;
  position: relative;
}

.device-desktop .phabricator-main-menu-group {
  display: inline-block;
  text-align: left;
}

.device-tablet .phabricator-main-menu-group,
.device-phone .phabricator-main-menu-group {
  width: 100%;
  display: block;
}

.device-tablet .phabricator-main-menu-group + .phabricator-main-menu-group,
.device-phone .phabricator-main-menu-group + .phabricator-main-menu-group {
  margin-top: 1px;
}


/* - Logo ----------------------------------------------------------------------

  The "Phabricator" logo group in the main menu. On tablet and phone devices,
  this shows a "reveal" button to expand/collapse the rest of the menu.

*/

.device-desktop .phabricator-main-menu-group-logo {
  float: left;
}

.phabricator-main-menu-logo {
  display: inline-block;
  height: 48px;
  width: 54px;
  margin: 0 6px;
  background: 6px 9px url(/res/da055af1/rsrc/image/custom/logo.png) no-repeat;
  float: left;
}

.phabricator-main-menu-phriction-logo,
.phabricator-main-menu-maniphest-logo,
.phabricator-main-menu-create-task-logo {
  display: inline-block;
  height: 48px;
  width: 40px;
  margin: 0 6px;
  float: left;
}

.phabricator-main-menu-phriction-logo {
  width: 48px;
  background: 6px 12px url(/res/da055af1/rsrc/image/custom/wiki-header.png) no-repeat;
}

.phabricator-main-menu-maniphest-logo {
  background: 6px 10px url(/res/da055af1/rsrc/image/custom/anchor-header.png) no-repeat;
}

.phabricator-main-menu-create-task-logo {
  background: 6px 11px url(/res/da055af1/rsrc/image/custom/create-header.png) no-repeat;
}

.phabricator-main-menu-logo span,
.phabricator-main-menu-phriction-logo span,
.phabricator-main-menu-maniphest-logo span,
.phabricator-main-menu-create-task-logo span {
  display: none;
}


/* - Expand/Collapse Button ----------------------------------------------------

  On phones, the menu switches to a vertical layout and uses a button to expand
  or collapse the items.

*/

.phabricator-main-menu-expand-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 40px;
  height: 28px;
  text-align: center;
  background: #22292d url(/rsrc/image/lines.png) no-repeat 8px 6px;
  border-radius: 6px;

  border: 1px solid #111111;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
                    0 1px 0 rgba(255, 255, 255, 0.075);
}

.device-desktop .phabricator-main-menu-expand-button {
  display: none;
}

.device-tablet .phabricator-main-menu-expand-button,
.device-phone .phabricator-main-menu-expand-button {
  display: block;
}

.phabricator-main-menu-expand-button span {
  display: none;
}

.phabricator-main-menu-reveal .phabricator-main-menu-expand-button {
  background-color: #55595d;
}


/* - Icon Menus ----------------------------------------------------------------

  These are the small icons for actions like "Settings" and "Log Out" which
  appear on the right side of the main menu. On tablets and phones these layout
  vertically.

*/

.phabricator-main-menu-icon {
  width: 28px;
  height: 28px;
  margin: 9px;
  display: inline-block;
}

.device-desktop .phabricator-main-menu-icon-label {
  display: none;
}

.device-tablet .phabricator-main-menu-icon-label,
.device-phone .phabricator-main-menu-icon-label {
  font-weight: bold;
  color: #eeeeee;
  position: absolute;
  display: block;
  line-height: 44px;
  left: 60px;
  right: 0px;
  top: 0px;
}

.device-tablet .phabricator-main-menu-icon,
.device-phone .phabricator-main-menu-icon {
  margin-left: 20px;
  position: absolute;
}

.main-menu-item-icon-profile {
  background-repeat: no-repeat;
  background-size: 28px 28px;
  margin: 8px;
}

.device-desktop .main-menu-item-icon-profile {
  background-position: 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .15);
}

.main-menu-item-icon-profile-not-selected:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.main-menu-item-icon-profile-selected {
  background-color: #44494d;
}

/* - Search --------------------------------------------------------------------

  The main search input in the menu bar.

*/

.device-desktop .phabricator-main-menu-search {
  width: 220px;
}

.phabricator-main-menu-search-container {
  padding: 9px 0;
  position: relative;
  height: 24px;
}

.phabricator-main-menu-search-target {
  position: absolute;
  top: 46px;
}

.device-desktop .phabricator-main-menu-search-target {
  width: 320px;
  margin-left: -150px;
}

.device-tablet .phabricator-main-menu-search-target,
.device-phone .phabricator-main-menu-search-target {
  width: 100%;
  margin-left: -25px;

}

.device-desktop .phabricator-main-menu-search-container {
  margin: 0 8px 0 50px;
}

.device-tablet .phabricator-main-menu-search-container,
.device-phone .phabricator-main-menu-search-container {
  margin: 0 18px 0 60px;
}

.phabricator-main-menu-search input {
  outline: 0;
  margin: 0;
  width: 100%;
  right: 0;
  position: absolute;
  border: 1px solid #237BD5;
  border-radius: 15px;
  background: #555;
  height: 14px;
  line-height: 14px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .1);
  padding: 6px 32px 6px 10px;
  background-color: #ECF3F7;
}

.phabricator-main-menu-search input:focus {
  background: #f6f6f6;
}

.phabricator-main-menu-search input.jx-typeahead-placeholder {
  color: #999999;
}

.phabricator-main-menu-search button {
  position: absolute;
  color: transparent;
  background: url('http://static.zhihu.com/static/img/icons_v13.4.png') no-repeat -100px -793px;
  border: none;
  outline: none;
  box-shadow: none;
  height: 20px;
  width: 20px;
  top: 11px;
  right: 6px;
  text-indent: 50px;
}

.phabricator-main-menu-search-target div.jx-typeahead-results {
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
  border: 1px solid #33393d;
}

.phabricator-main-menu-search-target div.jx-typeahead-results a.jx-result {
  border: 0;
}

.phabricator-main-menu-search-target div.jx-typeahead-results a.focused,
.phabricator-main-menu-search-target div.jx-typeahead-results a:hover {
  background: #3875d7;
}

.phabricator-main-search-typeahead-result {
  display: block;
  padding: 4px 4px 4px 38px;
  background-position: 4px 4px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.phabricator-main-search-typeahead-result .result-name {
  display: block;
  font-weight: bold;
  color: #444444;
}

.focused .phabricator-main-search-typeahead-result .result-name,
a:hover .phabricator-main-search-typeahead-result .result-name {
  color: #eeeeee;
}

.phabricator-main-search-typeahead-result .result-type {
  color: #888888;
}

.focused .phabricator-main-search-typeahead-result .result-type,
a:hover .phabricator-main-search-typeahead-result .result-type {
  color: #dddddd;
}



/* - Collapsible ---------------------------------------------------------------

  By default, groups are collapsible, which means they'll be hidden on phones
  and respond to the menu toggle button.

*/

.device-tablet .phabricator-main-menu-collapsible,
.device-phone .phabricator-main-menu-collapsible {
  background: #44494d;
  display: none;
}

.phabricator-main-menu-reveal {
  height: auto;
}

.device-tablet .phabricator-main-menu-reveal .phabricator-main-menu-collapsible,
.device-phone .phabricator-main-menu-reveal .phabricator-main-menu-collapsible {
  display: block;
}


/* - Alert ---------------------------------------------------------------------

  Alert menus are like icon menus but don't obey collapse rules.

*/

.phabricator-main-menu-alert {
  display: inline-block;
  position: relative;
  float: left;
}

.phabricator-main-menu-alert-item {
  width: 18px;
  height: 28px;
  margin: 10px 12px;
  display: block;
  background: url(/res/005c7630/rsrc/image/custom/noti.png) no-repeat;
}

.phabricator-main-menu-alert-indicator {
  display: none;
}

.phabricator-main-menu-alert-indicator-unread {
  position: absolute;
  display: block;
  right: -3px;
  top: 4px;
  padding: 0px 6px;
  background: #CA2C2C;
  border: 1px solid #A30101;
  font-size: 11px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
