/**
 * @provides phabricator-notification-menu-css
 */

.phabricator-notification-menu {
  background: #ffffff;
  font-size: 11px;
  word-wrap: break-word;
  overflow-y: auto;
}

.device-desktop .phabricator-notification-menu {
  position: fixed;
  width: 380px;
  top: 48px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  z-index: 9;
  border: 1px solid #BBB;
}

.device-tablet .phabricator-notification-menu,
.device-phone .phabricator-notification-menu {
  border-bottom: 1px solid #222222;
}


.phabricator-notification {
  padding: 12px;
}

.no-notifications {
  color: #999999;
}

.phabricator-notification-list .phabricator-notification-unread,
.phabricator-notification-menu .phabricator-notification-unread {
  background: #aacfef;
}

.view-all-notifications {
  text-align: center;
  font-weight: bold;
  background: #eeeeee;
  border-top: 1px solid #dddddd;
}
