/**
 * @provides phabricator-core-buttons-css
 */


button,
a.button,
a.button:visited,
input.inputsubmit {
  overflow: visible;
  width: auto;
  background: #0874C4;
  background: -webkit-gradient(linear,left top,left bottom,from(#1288D4),to(#0771C1));
  background: -moz-linear-gradient(top,#1288D4,#0771C1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
  border: 1px solid #0D6EB8;
  color: white;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset,0 1px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset,0 1px 0 rgba(0, 0, 0, .2);
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

/* Buttons with images (full size only) */
button.icon,
a.icon,
a.icon:visited {
  padding-left: 0;
  position: relative;
  text-indent: 29px;
}

button:active,
a.button:active {
  background: #197CC7;
  background: -webkit-gradient(linear,0 0,0 100%,from(#1B8FD8),to(#197CC7)) background:-moz-linear-gradient(top,#1B8FD8,#197CC7);
  -webkit-box-shadow: 0 1px 2px #125A92 inset;
  box-shadow: 0 1px 2px #125A92 inset;
}

button.green,
a.green,
a.green:visited {
  background: #8AB923;
  background: -webkit-gradient(linear,0 0,0 100%,from(#ADDA4D),to(#86B846));
  background: -moz-linear-gradient(top,#ADDA4D,#86B846);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
  border: 1px solid #6D8F29;
  color: #3E5E00!important;
  min-width: 56px;
  width: auto!important;
  _width: 56px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset,0 1px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset,0 1px 0 rgba(0, 0, 0, .2);
}

button.green:active,
a.green:active {
  background: #79A814;
  background: -webkit-gradient(linear,0 0,0 100%,from(#9AC244),to(#78A53E));
  background: -moz-linear-gradient(top,#9AC244,#78A53E);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset;
}

button.grey,
input.inputaux,
a.grey,
a.grey:visited,
a.button.disabled,
button[disabled], /* Set by JX.Workflow. */
button.disabled {
  background: #F8F8F9;
  background: -webkit-gradient(linear,0 0,0 100%,from(#F8F8F9),to(#E6E6E8));
  background: -moz-linear-gradient(top,#F8F8F9,#E6E6E8);
  text-shadow: 0 1px 0 white;
  border: 1px solid #BBB;
  color: #666;
  -webkit-box-shadow: 0 1px 0 white inset,0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 white inset,0 1px 0 rgba(0, 0, 0, .1);
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 3px;
}

a.disabled,
button.disabled {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

button.grey:active,
a.grey:active,
button.grey_active,
a.dropdown-open {
  background: white;
  background: -webkit-gradient(linear,0 0,0 100%,from(#DDD),to(#DDD));
  background: -moz-linear-gradient(top,#DDD,#DDD);
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:active::-moz-focus-inner,
button:focus::-moz-focus-inner {
  border-color: #405071;
}

button.green:active::-moz-focus-inner,
button.green:focus::-moz-focus-inner {
  border-color: #4c713b;
}

button.grey:active::-moz-focus-inner,
button.grey:focus::-moz-focus-inner {
  border-color: #666;
}

a.button:hover {
  text-decoration: none;
}

button.small,
a.small,
a.small:visited {
  padding: 2px 7px;
  height: auto;
  font-size: 11px;
  line-height: 16px;
}

button.link {
  display: inline;
  border: none;
  background: transparent;
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: inherit;
  border-bottom: none;
  text-decoration: none;
  text-shadow: none;
  color: #3b5998;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button.link:hover {
  text-decoration: underline;
}


.dropdown-menu-frame {
  z-index: 32;
  position: absolute;
  width: 240px;
  background: #f6f6f6;
  border: 1px solid #999;
  margin-top: -1px;

  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.dropdown-menu-frame a,
.dropdown-menu-frame span {
  display: block;
  font-size: 11px;
  padding: 4px 8px;
}

.dropdown-menu-frame span {
  color: #666666;
}

.dropdown-menu-frame a:hover {
  background: #005588;
  color: white;
  text-decoration: none;
}

a.toggle {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 1px 0 #777;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #a7a7a7;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 12px;
  margin: 0 5px 2px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a.toggle:hover {
  background-color: #bbb;
}

a.toggle-selected {
  background-color: #555;
}

a.toggle-fixed {
  cursor: default;
}

a.toggle-fixed:hover {
  background-color: #555;
}
